@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

body {
  display: grid;
  grid-template-columns: 122px 1fr;
}
.home-lateral {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 92px;
  gap: 55px;
  width: 122px;
  height: 100%;
  background-image: linear-gradient(to left, #00829a, #002c34);
}

.back-mode {
  background-color: transparent;
}


.index:hover {
  content: url(/juanpablo/img-navbar-aside/iconoir_home-two.svg);
}

.curso:hover {
  content: url(/juanpablo/img-navbar-aside/Vector-curso-verde.svg);
}

.cadastro:hover {
  content: url(/juanpablo/img-navbar-aside/Icone\ cadastro-green.svg);
}

.aluno:hover {
  content: url(/juanpablo/img-navbar-aside/Vectoraluno-verde.svg);
}

.recurso:hover {
  content: url(/juanpablo/img-navbar-aside/Vector-feedback-verde.svg);
}

.pagamento:hover {
  content: url(/juanpablo/img-navbar-aside/Vector-money\ \(1\).svg);
}

.telefone:hover {
  content: url(/juanpablo/img-navbar-aside/Group-telefone-verde.svg);
}

.acesso-restrito:hover {
  content: url(/juanpablo/img-navbar-aside/Vectoracesso-restrito-verde.svg);
}

.login:hover {
  content: url(/juanpablo/img-navbar-aside/Icone\ login-verde.svg);
}

.home-vertical-one {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 122px;
  padding: 27px 0px 0px 0px;
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 15px;
}

.home-vertical-one a {
  color: #666;
}

.home-vertical-one a:hover {
  color: #0593ac;
}

.img-logo {
  padding: 50px 0px 0px 80px;
}

.home-vertical-two {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0px 41px 0px 60px;
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 15px;
  background-color: #007d94;
  height: 58px;
  align-items: center;
  color: white;
}

.pag-pagamento {
  color: white;
  font-size: 25px;
  font-weight: 500;
}

.direita-obj-profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.img-profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 4px solid white;
  border-radius: 50%;
}

#font-email {
  font-size: 10px;
  font-weight: 700;
}

#font-name {
  font-size: 15px;
  font-weight: 700;
}

.conteudo-geral {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 192px);
}

.conteiner-geral {
  display: grid;
  grid-template-columns: 266px 848px;
}

.localizacao-contato {
  color: #ffffff;
  background-color: #00798f;
  width: 266px;
  height: 437px;
  padding-left: 52px;
}

.title {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  padding-top: 89px;
}

.street {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 15px;
  padding-top: 48px;
}

.follow-us {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  padding-top: 35px;
}

.redes-sociais {
  padding-top: 4px;
  display: flex;
  gap: 15px;
}

.email {
  display: flex;
}

.number {
  padding-top: 55px;
  display: flex;
}

.politica-privacidade {
  padding-top: 30px;
  display: flex;
}

.area-contato {
  background-color: #ffffff;
  width: 848px;
  height: 435px;
  border: 1px solid #00798f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.area-contato p {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 30px;
  color: #00798f;
}

hr {
  background-color: #00798f;
  width: 298px;
  height: 1px;
  margin-bottom: 43px;
}

.padrao-input {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 15px;
  color: #00798f;
}

.conteiner-input {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 300px;
  justify-content: space-between;
  border-radius: 4px;
  padding-right: 4px;
  padding-left: 4px;
  height: 27px;
  margin-bottom:15px ;
}

input {
  outline: none;
  flex: 1;
}

.conteiner-input-1{
  display: flex;
  border: 1px solid black;
  width: 300px;
  justify-content: space-between;
  border-radius: 4px;
  padding-right: 4px;
  padding-left: 4px;
  height: 109px;
  margin-bottom:15px ;
  align-items: start;
}

.tamanho-area{
  flex: 1;
  height: 100%;
  outline: none;
  resize: none;
  font-family: "Roboto Condensed";
  font-size: 15px;
}


.sign {
  margin-top: 16px;
  background-color: #00798f;
  width: 308px;
  height: 27px;
  border: 1px solid #666666;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign a {
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 15px;
}
