@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.geral {
  display: flex;    
  width: 1200px;
  align-items: center;
  justify-content: space-between;
}

.padrao-menu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: "Roboto Condensed";
  font-size: 15px;
  font-weight: 500;
  color: #666666;
}

.padrao-icon {
  width: 40px;
  height: 40px;
}

.cadastro {
  width: 54px;
  height: 43px;
}

.padrao-icon:hover {
  width: 40px;
  height: 40px;
  content: url(/juanpablo/img-verde/botao\ home-\ verde.svg);
}

.cadastro:hover {
  width: 54px;
  height: 43px;
  content: url(/juanpablo/img-verde/botao\ cadastro\ -\ verde.svg);
}

.home {
  width: 36px;
  height: 47px;
}

.home:hover{
    width: 36px;
    height: 47px;
    content: url(/juanpablo/img-verde/home1\ original\ verde.svg);
}

.aluno:hover {
  content: url(/juanpablo/img-verde/botao\ aluno\ -\ verde.svg);
}

.recurso {
  width: 56px;
  height: 43px;
}

.recurso:hover {
  width: 56px;
  height: 43px;
  content: url(/juanpablo/img-verde/botao\ recurso\ -\ verde.svg);
}

.pagamento {
  width: 68px;
  height: 43px;
}

.pagamento:hover {
  width: 68px;
  height: 43px;
  content: url(/juanpablo/img-verde/botao\ pagamento\ -\ verde.svg);
}

.telefone {
  width: 47px;
  height: 45px;
}

.telefone:hover {
  width: 47px;
  height: 45px;
  content: url(/juanpablo/img-verde/botao\ contato\ -\ verde.svg);
}

.acesso-restrito {
  width: 95px;
  height: 42px;
}

.acesso-restrito:hover {
  content: url(/juanpablo/img-verde/botao\ acesso\ -\ verde.svg);
  width: 95px;
  height: 42px;
}

.login {
  width: 35px;
  height: 47px;
}

.login:hover {
  content: url(/juanpablo/img-verde/botao\ login\ -\ verde.svg);
  width: 35px;
  height: 47px;
}

/* fim hover btn lateral */

.logo {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.botoes {
  display: flex;
  gap: 13px;
  font-family: "Roboto Condensed";
  font-size: 15px;
  font-weight: 500;
}

.botoes a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.cadastre-se {
  border: 1px solid #29a743;
  background-color: #29a743;
  width: 124px;
  height: 37px;
}

.entrar {
  border: 1px solid #007afd;
  background-color: #007afd;
  width: 124px;
  height: 37px;
}

.teste {
  background-color: rgb(#007d94);
}

section {
  background-image: linear-gradient(to left, #00829a, #002c34);
  height: calc(100vh-112px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conteudo {
  padding-left: 82px;
}

.img-principal {
  height: calc(100vh-112px);
}

.title {
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.intro {
  font-family: "Roboto Condensed";
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
}

.btn {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #29a743;
  background-color: #29a743;
  width: 360px;
  text-decoration: none;
}

.cadastre-se:hover {
  transform: scale(1.2);
  transition-duration: 300ms;
}

.entrar:hover {
  transform: scale(1.2);
  transition-duration: 300ms;
}
